@import url(https://fonts.googleapis.com/css?family=VT323&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Play:400,700&display=swap&subset=latin-ext);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #21355E;
  background-image: url("https://picsum.photos/1920/900?image=366");
  background-size: cover; }

.tech-stack-list {
  margin-block-start: 0; }
  .tech-stack-list .dark {
    background-color: #1B1C1F;
    color: #49b207;
    -webkit-box-shadow: -3px 3px 3px 2px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: -3px 3px 3px 2px rgba(0, 0, 0, 0.85);
    box-shadow: -3px 3px 3px 2px rgba(0, 0, 0, 0.85); }
  .tech-stack-list .box {
    float: left;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    border: 2px outset #000;
    min-width: 200px;
    height: 190px;
    text-align: center; }
    @media (max-width: 639px) {
      .tech-stack-list .box {
        width: calc(100% / 2);
        max-width: 320px; } }
    @media (min-width: 640px) {
      .tech-stack-list .box {
        width: calc(100% / 3);
        max-width: 320px; } }
    @media (min-width: 960px) {
      .tech-stack-list .box {
        width: 200px;
        max-width: 200px; } }
    .tech-stack-list .box code {
      font-family: 'VT323', monospace;
      font-family: 'Share Tech Mono', monospace;
      font-size: 1rem; }
      .tech-stack-list .box code strong {
        font-weight: 700; }
    .tech-stack-list .box i[class^="devicon"] {
      display: block;
      width: 4rem;
      margin: 0 auto 1.2rem;
      font-size: 4rem;
      color: #FFF; }

ul.menu {
  margin-block-start: 0;
  -webkit-box-shadow: -3px 3px 3px 2px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: -3px 3px 3px 2px rgba(0, 0, 0, 0.85);
  box-shadow: -3px 3px 3px 2px rgba(0, 0, 0, 0.85); }
  ul.menu li {
    list-style: none;
    min-width: 120px;
    padding: 1rem;
    background-color: rgba(146, 146, 146, 0.95);
    border-bottom: 2px ridge rgba(197, 197, 197, 0.95);
    border-left: 2px dotted rgba(197, 197, 197, 0.95); }
    ul.menu li:first-of-type {
      border-left: 0px dotted rgba(121, 121, 121, 0.95); }
    ul.menu li a {
      font-family: 'Play', sans-serif;
      font-size: 1.5rem;
      color: #FFF;
      text-decoration: none; }
    ul.menu li .active {
      color: #49b207; }
    @media (min-width: 640px) {
      ul.menu li {
        width: calc(100% / 3);
        float: left;
        padding: 1rem .1rem 1rem .5rem; }
        ul.menu li a {
          font-size: 1.2rem; } }
    @media (min-width: 960px) {
      ul.menu li {
        width: calc(100% / 3);
        float: left; }
        ul.menu li a {
          font-size: 1.5rem; } }


/*# sourceMappingURL=style.css.map*/