.dark {
    background-color: #444;
    color: #49b207;
    padding: 1rem;
    border: 2px outset #000;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}